In [1]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\shogu\appdata\roaming\python\python39\site-packages (1.7.5)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import sys
# !{sys.executable} -m pip install xgboost

In [3]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [4]:
dataset=pd.read_csv('AfterLasso_Clinical1.csv')

In [5]:
dataset.head()

,Age_cat,BMI_cat,LUNG,Fever_Sympt,GI_Symp,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat,Class Label
0,1,4,0,1,1,3,5,3,2,1,2,2,1,1,-1,-1,-1,-1,0
1,2,2,0,1,1,3,5,3,2,2,2,2,1,2,-1,-1,-1,-1,0
2,3,4,1,0,1,3,5,3,2,3,4,3,2,3,-1,-1,-1,-1,0
3,1,2,0,1,0,3,5,3,2,2,2,3,1,2,-1,-1,-1,-1,0
4,3,3,0,1,1,3,3,3,2,3,3,3,1,5,3,5,1,4,0

In [6]:
dataset.describe()

,Age_cat,BMI_cat,LUNG,Fever_Sympt,GI_Symp,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat,Class Label
count,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
mean,3.218750,2.479167,0.276042,0.643229,0.414062,3.091146,3.653646,2.825521,2.059896,2.463542,2.710938,1.778646,1.143229,1.606771,0.882812,0.875000,0.539062,0.580729,0.127604
std,1.206623,1.151493,0.447621,0.479671,0.493202,0.910929,1.366262,1.075856,1.123709,1.466323,1.523458,1.865017,1.613522,2.385565,2.101676,2.185879,1.769641,2.206978,0.334084
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,3.000000,2.000000,0.000000,1.000000,0.000000,3.000000,4.000000,3.000000,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,4.000000,3.000000,1.000000,1.000000,1.000000,4.000000,5.000000,3.000000,2.000000,3.000000,4.000000,3.000000,2.000000,4.000000,3.000000,3.000000,2.000000,2.000000,0.000000
max,5.000000,5.000000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [7]:
X=dataset.drop(columns='Class Label',axis=1)
Y=dataset['Class Label']

In [8]:
X

,Age_cat,BMI_cat,LUNG,Fever_Sympt,GI_Symp,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat
0,1,4,0,1,1,3,5,3,2,1,2,2,1,1,-1,-1,-1,-1
1,2,2,0,1,1,3,5,3,2,2,2,2,1,2,-1,-1,-1,-1
2,3,4,1,0,1,3,5,3,2,3,4,3,2,3,-1,-1,-1,-1
3,1,2,0,1,0,3,5,3,2,2,2,3,1,2,-1,-1,-1,-1
4,3,3,0,1,1,3,3,3,2,3,3,3,1,5,3,5,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,3,2,0,1,0,2,2,1,3,4,5,4,3,5,3,3,3,5
380,4,2,0,1,0,3,2,1,3,3,3,4,2,5,3,2,3,4
381,4,3,1,0,0,2,2,1,3,4,4,2,3,4,3,3,1,4
382,5,2,1,0,0,3,1,1,5,5,2,-1,-1,-1,-1,-1,-1,-1
383,5,2,0,1,0,2,1,1,1,3,5,3,1,4,-1,-1,-1,-1

In [9]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
379    1
380    1
381    1
382    1
383    1
Name: Class Label, Length: 384, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [11]:
classifier = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3
)

In [12]:
classifier.fit(X_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=3, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
predictions = [round(value) for value in y_pred]

In [15]:
accuracy = accuracy_score(y_test, predictions)

In [16]:
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 100.00%