In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
dataset=pd.read_csv('Run4.csv')

In [3]:
dataset.head()

   Unnamed: 0  P07585  P52823  Q9P0M4  Q9UGM5  Q9Y653  Class Label
0           0 -2.8297 -1.5906 -1.8066 -1.9304 -2.6860            0
1           1 -2.1921  0.1290 -2.1270 -1.9200 -2.9263            0
2           2 -1.8498  0.2898 -0.6538 -1.2569 -2.2744            0
3           3 -2.1312  0.7255 -2.6040 -1.5945 -1.5901            0
4           4 -2.2969 -1.4633 -1.8342 -1.5268 -2.0379            0

In [4]:
dataset.describe()

,Unnamed: 0,P07585,P52823,Q9P0M4,Q9UGM5,Q9Y653,Class Label
count,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000
mean,171.500000,-1.527347,-0.202303,-0.605348,-2.183972,-1.141384,0.127907
std,99.448479,0.867228,1.160753,1.314124,0.800740,1.223934,0.334473
min,0.000000,-3.247600,-2.413900,-2.998900,-5.157000,-3.389500,0.000000
25%,85.750000,-2.109650,-1.035400,-1.525425,-2.589375,-2.052150,0.000000
50%,171.500000,-1.704150,-0.373250,-0.870850,-2.168250,-1.404800,0.000000
75%,257.250000,-1.122025,0.276125,-0.056200,-1.685075,-0.292375,0.000000
max,343.000000,1.406300,4.847500,5.242800,0.182400,2.775400,1.000000

In [5]:
X=dataset.drop(columns='Class Label',axis=1)
Y=dataset['Class Label']

In [6]:
X

     Unnamed: 0  P07585  P52823  Q9P0M4  Q9UGM5  Q9Y653
0             0 -2.8297 -1.5906 -1.8066 -1.9304 -2.6860
1             1 -2.1921  0.1290 -2.1270 -1.9200 -2.9263
2             2 -1.8498  0.2898 -0.6538 -1.2569 -2.2744
3             3 -2.1312  0.7255 -2.6040 -1.5945 -1.5901
4             4 -2.2969 -1.4633 -1.8342 -1.5268 -2.0379
..          ...     ...     ...     ...     ...     ...
339         339  0.0824  2.3867  1.1664 -2.9712  1.8874
340         340 -1.6721 -0.8692 -0.7645 -2.7253 -2.4301
341         341 -0.5414  1.5468  0.5840 -2.4430  1.2652
342         342 -0.6373  1.2397 -0.0589 -3.0489 -0.6997
343         343  0.3649  1.7518  1.0035 -2.2663 -0.7984

[344 rows x 6 columns]

In [7]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
339    1
340    1
341    1
342    1
343    1
Name: Class Label, Length: 344, dtype: int64

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=2,random_state=42)

In [20]:
classifier = xgb.XGBClassifier()

In [21]:
classifier.fit(X_train,y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [22]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, y_train)

In [23]:
print("Accuracy on training data",training_data_accuracy)

Accuracy on training data 1.0

In [24]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, y_test)

In [25]:
print("Accuracy on training data",test_data_accuracy)

Accuracy on training data 1.0