In [455]:
import pandas as pd
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [640]:
dataset=pd.read_csv('Run2.csv')

In [641]:
dataset.head()

   Unnamed: 0  P07585  Q9P0M4  Q9UGM5  Q9Y653  Class Label
0           0 -2.8297 -1.8066 -1.9304 -2.6860            0
1           1 -2.1921 -2.1270 -1.9200 -2.9263            0
2           2 -1.8498 -0.6538 -1.2569 -2.2744            0
3           3 -2.1312 -2.6040 -1.5945 -1.5901            0
4           4 -2.2969 -1.8342 -1.5268 -2.0379            0

In [642]:
dataset.describe()

       Unnamed: 0      P07585      Q9P0M4      Q9UGM5      Q9Y653  Class Label
count  344.000000  344.000000  344.000000  344.000000  344.000000   344.000000
mean   171.500000   -1.527347   -0.605348   -2.183972   -1.141384     0.127907
std     99.448479    0.867228    1.314124    0.800740    1.223934     0.334473
min      0.000000   -3.247600   -2.998900   -5.157000   -3.389500     0.000000
25%     85.750000   -2.109650   -1.525425   -2.589375   -2.052150     0.000000
50%    171.500000   -1.704150   -0.870850   -2.168250   -1.404800     0.000000
75%    257.250000   -1.122025   -0.056200   -1.685075   -0.292375     0.000000
max    343.000000    1.406300    5.242800    0.182400    2.775400     1.000000

In [643]:
X=dataset.drop(columns='Class Label',axis=1)
Y=dataset['Class Label']

In [644]:
X

     Unnamed: 0  P07585  Q9P0M4  Q9UGM5  Q9Y653
0             0 -2.8297 -1.8066 -1.9304 -2.6860
1             1 -2.1921 -2.1270 -1.9200 -2.9263
2             2 -1.8498 -0.6538 -1.2569 -2.2744
3             3 -2.1312 -2.6040 -1.5945 -1.5901
4             4 -2.2969 -1.8342 -1.5268 -2.0379
..          ...     ...     ...     ...     ...
339         339  0.0824  1.1664 -2.9712  1.8874
340         340 -1.6721 -0.7645 -2.7253 -2.4301
341         341 -0.5414  0.5840 -2.4430  1.2652
342         342 -0.6373 -0.0589 -3.0489 -0.6997
343         343  0.3649  1.0035 -2.2663 -0.7984

[344 rows x 5 columns]

In [645]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
339    1
340    1
341    1
342    1
343    1
Name: Class Label, Length: 344, dtype: int64

In [646]:
scaler = StandardScaler()
scaler.fit(X)
standardized_data = scaler.transform(X)

In [647]:
X = standardized_data

In [648]:
X

array([[-1.72702307, -1.50392954, -0.91543959,  0.31713315, -1.26384778],
       [-1.71695297, -0.76764273, -1.15960726,  0.33014006, -1.46046793],
       [-1.70688286, -0.37236204, -0.03692369,  1.15945542, -0.92706521],
       ...,
       [ 1.70688286,  1.13855022,  0.90636828, -0.32395727,  1.969134  ],
       [ 1.71695297,  1.02780696,  0.41643258, -1.08173465,  0.36139815],
       [ 1.72702307,  2.18512602,  1.22605723, -0.10296492,  0.28063906]])

In [649]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2, stratify=Y,random_state=2)

In [650]:
#classifier = xgb.XGBClassifier(colsample_bytree=0.01,subsample=0.1,max_depth=100,gamma=1000,eta=0.01,min_child_weight=100)
# classifier=xgb.XGBClassifier(n_estimators = 5000,
#                         learning_rate = 0.0005,
#                         use_label_encoder = False,
#                         eval_metric = "logloss",
#                         early_stopping_rounds = 5,
#                         n_jobs = -3)
classifier=svm.SVC()

In [651]:
classifier.fit(X_train, y_train)

SVC()

In [652]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, y_train)

In [653]:
print("Accuracy on training data",training_data_accuracy)

Accuracy on training data 0.9781818181818182

In [654]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, y_test)

In [655]:
print("Accuracy on training data",test_data_accuracy)

Accuracy on training data 0.927536231884058