In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [2]:
dataset=pd.read_csv('FinalDataset_UsingMap.csv')

In [3]:
dataset.head()

,Q9Y653,Q9P0M4,P07585,P16234,P52823,P14136,P08833,P55259,O60635,P19429,Class Label
0,-2.6860,-1.8066,-2.8297,-2.2049,-1.5906,-0.7651,-2.5170,-1.9518,-0.5249,-4.1338,0
1,-2.9263,-2.1270,-2.1921,-1.7358,0.1290,-1.6108,-3.0414,-1.5554,-0.4660,-2.6296,0
2,-2.2744,-0.6538,-1.8498,-1.4122,0.2898,-0.9770,-3.6948,-2.0926,-0.6516,-2.6118,0
3,-1.5901,-2.6040,-2.1312,-1.7620,0.7255,-1.1503,-3.0438,-1.4699,-0.5478,-4.1360,0
4,-2.0379,-1.8342,-2.2969,-1.9415,-1.4633,-1.1478,-4.8105,-1.0608,-0.3659,-2.7267,0

In [4]:
dataset.describe()

,Q9Y653,Q9P0M4,P07585,P16234,P52823,P14136,P08833,P55259,O60635,P19429,Class Label
count,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000
mean,-1.141384,-0.605348,-1.527347,-1.260672,-0.202303,-0.573656,-0.702122,-0.516716,-0.248501,-2.294852,0.127907
std,1.223934,1.314124,0.867228,0.656981,1.160753,0.958665,2.109168,1.469437,0.822821,1.470080,0.334473
min,-3.389500,-2.998900,-3.247600,-2.422000,-2.413900,-2.783800,-5.529100,-2.806500,-0.868700,-4.593600,0.000000
25%,-2.052150,-1.525425,-2.109650,-1.672000,-1.035400,-1.148425,-2.353950,-1.530075,-0.583525,-3.204500,0.000000
50%,-1.404800,-0.870850,-1.704150,-1.374400,-0.373250,-0.704300,-0.900950,-0.876500,-0.439300,-2.666250,0.000000
75%,-0.292375,-0.056200,-1.122025,-0.974700,0.276125,-0.086575,0.835250,0.170200,-0.267150,-1.927200,0.000000
max,2.775400,5.242800,1.406300,1.973400,4.847500,8.782000,4.798200,6.003700,6.898200,5.498800,1.000000

In [5]:
X=dataset.drop(columns='Class Label',axis=1)
Y=dataset['Class Label']

In [6]:
X

,Q9Y653,Q9P0M4,P07585,P16234,P52823,P14136,P08833,P55259,O60635,P19429
0,-2.6860,-1.8066,-2.8297,-2.2049,-1.5906,-0.7651,-2.5170,-1.9518,-0.5249,-4.1338
1,-2.9263,-2.1270,-2.1921,-1.7358,0.1290,-1.6108,-3.0414,-1.5554,-0.4660,-2.6296
2,-2.2744,-0.6538,-1.8498,-1.4122,0.2898,-0.9770,-3.6948,-2.0926,-0.6516,-2.6118
3,-1.5901,-2.6040,-2.1312,-1.7620,0.7255,-1.1503,-3.0438,-1.4699,-0.5478,-4.1360
4,-2.0379,-1.8342,-2.2969,-1.9415,-1.4633,-1.1478,-4.8105,-1.0608,-0.3659,-2.7267
...,...,...,...,...,...,...,...,...,...,...
339,1.8874,1.1664,0.0824,-0.3291,2.3867,-0.4734,2.1331,0.9885,0.3672,1.4611
340,-2.4301,-0.7645,-1.6721,-1.5509,-0.8692,-0.1533,0.1260,0.1633,1.7721,-1.8811
341,1.2652,0.5840,-0.5414,-0.8855,1.5468,-1.5574,0.7220,-0.6480,-0.5824,-2.1349
342,-0.6997,-0.0589,-0.6373,-1.4417,1.2397,1.0758,2.1902,0.5175,1.0917,-1.7921
343,-0.7984,1.0035,0.3649,-0.1488,1.7518,0.8472,2.8681,-0.1014,0.0548,2.0131

In [7]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
339    1
340    1
341    1
342    1
343    1
Name: Class Label, Length: 344, dtype: int64

In [8]:
scaler = StandardScaler()
scaler.fit(X)
standardized_data = scaler.transform(X)

In [9]:
X = standardized_data

In [10]:
X

array([[-1.26384778, -0.91543959, -1.50392954, ..., -0.97804409,
        -0.33640496, -1.25273911],
       [-1.46046793, -1.15960726, -0.76764273, ..., -0.70788795,
        -0.26471771, -0.22803917],
       [-0.92706521, -0.03692369, -0.37236204, ..., -1.07400267,
        -0.49061166, -0.21591335],
       ...,
       [ 1.969134  ,  0.90636828,  1.13855022, ..., -0.08947301,
        -0.40638827,  0.10896327],
       [ 0.36139815,  0.41643258,  1.02780696, ...,  0.70484328,
         1.6311606 ,  0.34248749],
       [ 0.28063906,  1.22605723,  2.18512602, ...,  0.28304804,
         0.36914852,  2.93468815]])

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2, stratify=Y,random_state=2)

In [12]:
# classifier = xgb.XGBClassifier(colsample_bytree=0.01,subsample=0.1,max_depth=100,gamma=1000,eta=0.01,min_child_weight=100)
# classifier=xgb.XGBClassifier(n_estimators = 5000,
#                         learning_rate = 0.0005,
#                         use_label_encoder = False,
#                         eval_metric = "logloss",
#                         early_stopping_rounds = 5,
#                         n_jobs = -3)
classifier=svm.SVC()

In [13]:
classifier.fit(X_train, y_train)

SVC()

In [14]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, y_train)

In [15]:
print("Accuracy on training data",training_data_accuracy*100)

Accuracy on training data 92.0

In [16]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, y_test)

In [17]:
print("Accuracy on training data",test_data_accuracy*100)

Accuracy on training data 88.40579710144928