In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [2]:
dataset=pd.read_csv('chosen_columns_clinical.csv')

In [3]:
dataset.head()

,Age_cat,BMI_cat,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat,Class Label
0,1,4,3,5,3,2,1,2,2,1,1,-1,-1,-1,-1,0
1,2,2,3,5,3,2,2,2,2,1,2,-1,-1,-1,-1,0
2,3,4,3,5,3,2,3,4,3,2,3,-1,-1,-1,-1,0
3,1,2,3,5,3,2,2,2,3,1,2,-1,-1,-1,-1,0
4,3,3,3,3,3,2,3,3,3,1,5,3,5,1,4,0

In [4]:
dataset.describe()

,Age_cat,BMI_cat,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat,Class Label
count,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000,384.000000
mean,3.218750,2.479167,3.091146,3.653646,2.825521,2.059896,2.463542,2.710938,1.778646,1.143229,1.606771,0.882812,0.875000,0.539062,0.580729,0.127604
std,1.206623,1.151493,0.910929,1.366262,1.075856,1.123709,1.466323,1.523458,1.865017,1.613522,2.385565,2.101676,2.185879,1.769641,2.206978,0.334084
min,1.000000,0.000000,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,3.000000,2.000000,3.000000,4.000000,3.000000,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
75%,4.000000,3.000000,4.000000,5.000000,3.000000,2.000000,3.000000,4.000000,3.000000,2.000000,4.000000,3.000000,3.000000,2.000000,2.000000,0.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000

In [5]:
X=dataset.drop(columns='Class Label',axis=1)
Y=dataset['Class Label']

In [6]:
X

,Age_cat,BMI_cat,Acuity_0,Acuity_7,Acuity_max,creat_0_cat,ddimer_0_cat,ldh_0_cat,abs_neut_3_cat,creat_3_cat,crp_3_cat,abs_neut_7_cat,abs_lymph_7_cat,creat_7_cat,crp_7_cat
0,1,4,3,5,3,2,1,2,2,1,1,-1,-1,-1,-1
1,2,2,3,5,3,2,2,2,2,1,2,-1,-1,-1,-1
2,3,4,3,5,3,2,3,4,3,2,3,-1,-1,-1,-1
3,1,2,3,5,3,2,2,2,3,1,2,-1,-1,-1,-1
4,3,3,3,3,3,2,3,3,3,1,5,3,5,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,3,2,2,2,1,3,4,5,4,3,5,3,3,3,5
380,4,2,3,2,1,3,3,3,4,2,5,3,2,3,4
381,4,3,2,2,1,3,4,4,2,3,4,3,3,1,4
382,5,2,3,1,1,5,5,2,-1,-1,-1,-1,-1,-1,-1
383,5,2,2,1,1,1,3,5,3,1,4,-1,-1,-1,-1

In [7]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
379    1
380    1
381    1
382    1
383    1
Name: Class Label, Length: 384, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, Y,random_state=42)

In [9]:
classifier = svm.SVC()

In [10]:
classifier.fit(X_train,y_train)

SVC()

In [11]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, y_train)

In [12]:
print("Accuracy on training data",training_data_accuracy)

Accuracy on training data 0.9479166666666666

In [13]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, y_test)

In [14]:
print("Accuracy on training data",test_data_accuracy)

Accuracy on training data 0.9583333333333334