In [17]:
import pandas as pd
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [18]:
# dataset=pd.read_csv('FinalDataset.csv')
df = pd.read_csv('Protein_final_ut2.csv',lineterminator='\n')

In [19]:
dataset.head()

   Unnamed: 0  P07585  P16234  P52823  Q9P0M4  Q9Y653  Class Label
0           0 -2.8297 -2.2049 -1.5906 -1.8066 -2.6860            0
1           1 -2.1921 -1.7358  0.1290 -2.1270 -2.9263            0
2           2 -1.8498 -1.4122  0.2898 -0.6538 -2.2744            0
3           3 -2.1312 -1.7620  0.7255 -2.6040 -1.5901            0
4           4 -2.2969 -1.9415 -1.4633 -1.8342 -2.0379            0

In [20]:
dataset.describe()

,Unnamed: 0,P07585,P16234,P52823,Q9P0M4,Q9Y653,Class Label
count,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000,344.000000
mean,171.500000,-1.527347,-1.260672,-0.202303,-0.605348,-1.141384,0.127907
std,99.448479,0.867228,0.656981,1.160753,1.314124,1.223934,0.334473
min,0.000000,-3.247600,-2.422000,-2.413900,-2.998900,-3.389500,0.000000
25%,85.750000,-2.109650,-1.672000,-1.035400,-1.525425,-2.052150,0.000000
50%,171.500000,-1.704150,-1.374400,-0.373250,-0.870850,-1.404800,0.000000
75%,257.250000,-1.122025,-0.974700,0.276125,-0.056200,-0.292375,0.000000
max,343.000000,1.406300,1.973400,4.847500,5.242800,2.775400,1.000000

In [21]:
df.isnull().values.any()

False

In [23]:
X=dataset.drop(columns='Class Label',axis=1)
Y=dataset['Class Label']

In [24]:
X

     Unnamed: 0  P07585  P16234  P52823  Q9P0M4  Q9Y653
0             0 -2.8297 -2.2049 -1.5906 -1.8066 -2.6860
1             1 -2.1921 -1.7358  0.1290 -2.1270 -2.9263
2             2 -1.8498 -1.4122  0.2898 -0.6538 -2.2744
3             3 -2.1312 -1.7620  0.7255 -2.6040 -1.5901
4             4 -2.2969 -1.9415 -1.4633 -1.8342 -2.0379
..          ...     ...     ...     ...     ...     ...
339         339  0.0824 -0.3291  2.3867  1.1664  1.8874
340         340 -1.6721 -1.5509 -0.8692 -0.7645 -2.4301
341         341 -0.5414 -0.8855  1.5468  0.5840  1.2652
342         342 -0.6373 -1.4417  1.2397 -0.0589 -0.6997
343         343  0.3649 -0.1488  1.7518  1.0035 -0.7984

[344 rows x 6 columns]

In [25]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
339    1
340    1
341    1
342    1
343    1
Name: Class Label, Length: 344, dtype: int64

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [28]:
print(X_train.shape[1])

6

In [30]:
scaler = StandardScaler()
scaler.fit(X)
standardized_data = scaler.transform(X)

# scaler = StandardScaler()
# X = scaler.fit_transform(X)

In [31]:
X = standardized_data

In [32]:
X

array([[-1.72702307, -1.50392954, -1.43931612, -1.19777336, -0.91543959,
        -1.26384778],
       [-1.71695297, -0.76764273, -0.7242521 ,  0.28583668, -1.15960726,
        -1.46046793],
       [-1.70688286, -0.37236204, -0.23097835,  0.42456923, -0.03692369,
        -0.92706521],
       ...,
       [ 1.70688286,  1.13855022,  0.57188717,  1.50906435,  0.90636828,
         1.969134  ],
       [ 1.71695297,  1.02780696, -0.27594614,  1.24410934,  0.41643258,
         0.36139815],
       [ 1.72702307,  2.18512602,  1.69486236,  1.6859311 ,  1.22605723,
         0.28063906]])

In [33]:
classifier=svm.SVC()

In [34]:
classifier.fit(X_train, y_train)

SVC()

In [35]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, y_train)

In [36]:
print("Accuracy on training data",training_data_accuracy*100)

Accuracy on training data 99.63636363636364

In [37]:
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, y_test)

In [38]:
print("Accuracy on training data",test_data_accuracy*100)

Accuracy on training data 98.55072463768117